@using WebApplication7.Models.Entity
@model IEnumerable<Randevular>
@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Doktor Adı</th>
                <th>Poliklnik Adı</th>
                <th>Tarih</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Doktorlar.doktor_adi @item.Doktorlar.doktor_soyadi</td>
                    <td>@item.Doktorlar.Birimler.birim_adi</td>
                    <td>@item.Randevu_saat.Value.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@Html.ActionLink("Düzenle", "/RandevuGuncelle", new { randevuId = item.Randevu_id }, new { @class = "btn btn-warning" })</td>
                    <td>

                        @Html.ActionLink("Sil", "/DeleteRandevu", new { randevuId = item.Randevu_id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musun?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Randevu Bulunamadı</h2>
}